---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Me"
  description="A brief dive into the face behind BooksWithSyro"
  pubDate={new Date('April 28 2025')}
  heroImage="/blog-placeholder-about2.jpg"
>

  <h2>Early Life</h2>
  <p>
    My name is Alex George Shijan. I was born and raised in Cardiff, Wales, in a Catholic family where faith was always an important part of life. Like many young people, I only truly began to appreciate its depth as I grew older and delved more into why we do the things we do. Despite being Eastern Catholic (Syro-Malabar), most of my early church memories were at a nearby Latin Rite parish next to my school. One of my clearest memories is altar serving there — holding the heavy Missal during Mass. 
    <br><br>
    I do remember attending Syro-Malabar Qurbanas celebrated by visiting priests, but as a child, my strongest impression was simply that they were "too long and too loud." That changed in 2016, when the Syro-Malabar Eparchy of Great Britain was established. I remember the excitement as our community gathered — taking coaches across the country — to attend the establishment of our eparchy, hosted in a football stadium, with thousands of faithful. Around that time, I began altar serving for our Syro-Malabar community as we rented churches and halls for Qurbana. A love for reading also took root, and before long, I found myself diving into Church literature, saint stories, and Bible studies.
  </p>

  <h2>Education</h2>
  <p>
    I attended a Roman Catholic primary school, followed by a secular high school and sixth form. At GCSE level, I studied sciences, English, mathematics, computer science, economics, design technology, and Welsh (though not much of it stuck!). For A-levels, I chose Maths, Further Maths, Physics, and Computer Science. Along the way, I took part in game design competitions, physics contests, and even contributed to shaping national exams as part of the WJEC student board. I’ve always been an avid reader — something that greatly inspired the idea behind this website.
  </p>

  <h2> Faith Formation and Discernment</h2>
  <p>
    As my faith deepened, I felt called to serve more actively — first through youth ministry, and later through leadership roles in SMYM. Over time, through prayer, reflection, and encouragement from my community, I began discerning a call toward priestly formation. For a long while, I resisted the idea; priesthood was often suggested to me by priests, but their often casual throwaway feel to the suggestion hardened my heart against it. It was only when I saw friends, peers and youth in my generation actually discerning — real people, not distant figures — that I truly began to open myself to the possibility.
    <br><br>
    It’s easy to dismiss vocations like priesthood at first glance. We're raised to aspire toward success, financial security, and prestige — and becoming a priest rarely checks any of those worldly boxes. In one conversation with a priest-friend at a local Oratory, I bluntly told him that becoming a priest would be a "waste" of my education. In hindsight, it was a shallow and prideful view, but an important conversation followed, one that humbled me and challenged my assumptions.
    <br><br>
    Throughout my discernment, I found myself making more excuses than prayers. I demanded signs, reassurances, and clarity from God — and even when I received them, I asked for more. ("Are you sure your name isn't Gideon?" has been the funniest comment I’ve gotten about this stubbornness.) Eventually, I realised how ridiculous my reluctance had become. One Friday evening, kneeling before the Blessed Sacrament, I made a promise: if God called me clearly then, I would follow — without excuse, no matter the obstacles. If not, I would leave that particular vocation behind, forever. I didn’t feel anything extraordinary at that moment. But on the way home, a deep conviction settled in my heart: I was called to be a priest in service of God. Since then, I have never looked back.
    <br><br>
    God willing, I will be joining the minor seminary at the St Alphonsa Cathedral in Preston this September.
  </p>

  <p>
    <b>For Christ and His Church,</b><br>
	Alex George Shijan<br>
	(Future) Seminarian, Eparchy of Great Britain<br>
	Syro-Malabar Catholic Church
  </p>

</Layout>