---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A brief dive into the face behind BooksWithSyro"
	pubDate={new Date('April 17 2025')}
	heroImage="/blog-placeholder-about.jpg"
>

	<p>
		TBC
	</p>

	<p>
		This is BooksWithSyro, signing off, Eesho Anugrahikatte.
	</p>
</Layout>
