---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>[ܞ] Books With Syro</h1>
      

      <p>
        Welcome to BooksWithSyro — a small initiative to build an online archive dedicated to the heritage of the Syro-Malabar Church. 
        This site aims to preserve and share important documents, traditions, and reflections that help strengthen our Mar Thoma Nazrani identity.
      </p>

      <p>
        You can explore the growing <a href="/doc/">collection of documents</a>, read my thoughts, reflections and updates on the <a href="/blog/">blog</a>, or partake in the <a href="/loth/">Divine Praises (Liturgies of the Hour) of the Syro-Malabar Church </a>. 
      </p>
    </main>
    <Footer />
  </body>
</html>