---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>[ܞ] Books With Syro</h1>
      

      <p>
        Welcome to BooksWithSyro — a small initiative to build an online archive dedicated to the heritage of the Syro-Malabar Church. 
        This site aims to preserve and share important documents, traditions, and reflections that help strengthen our Mar Thoma Nazrani identity.
      </p>


            <p>
<b>Blog</b><br>
These are collections of my thoughts, book reviews, reading recommendation or other writings by me which I share in the hope that others may find edifying spirtualy. Any construtive critisism would be appreciated.
      </p>
      <p>
<b>Docs</b><br>
This is an archive of spiritual texts, prayer books, articles and other pieces of literature that can support the syro-malabar faithful or those curious about our sui iuris church.
      </p>
            <p>
<b>Divine Praises</b><br>
The Divine Praises or the Liturgy of the Hours of the Syro-Malabar Church can be expressed as the heart beat of our church. It's an expression of our continous prayers to God without ceasing. While traditionally we have the 7 hours of the day as part of our jewish tradition, it is the norm for most people to particpate in Ramsa (evening prayer), Lelya (night prayer) and Sapra (morning prayer). As such the synod approved text for those three hours along with their season particular prayers, psalms and hymns are available in the Divine Praises page. A more indepth look into the Divine Praises on <a href=blog/loth>my blog post</a>.
 
      </p>
      <p>
<b>Contact Me</b><br>
I would love to connect with likeminded individuals who are also interested in this same mission, or even for those curious and would like to have some honest dialogue. My <a href="https://instagram.com/alexgshijan">Instagram</a> and <a href="mailto:alexgshijan@gmail.com">Email</a> are always open. For those interested in suggesting documents or even those who could support me in gaining licenses for published books, the above contacts are again available for you to reach out. 
 
      </p>

      <p>
Isho Anugrahikatte (May Christ Bless You) and please keep me in your prayers,<br><br>
<b>For Christ and His Church</b>,<br>
Alex George Shijan<br>
(Almost) Seminarian, Eparchy of Great Britain<br>
Syro-Malabar Catholic Church
      </p>
    </main>
    <Footer />
  </body>
</html>